<!DOCTYPE html>
<html  lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body{
            background: linear-gradient(135deg, #0d6efd, #6610f2);
            height: 100vh;
        }

        .login-card{
            width: 100%;
            max-width: 400px;
            border-radius: 20px;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">

<div class="card shadow-lg p-4 login-card">
    <div class="card-body">

        <h2 class="text-center mb-4">Iniciar Sesión</h2>

        <form action="/login" method="post">

            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" class="form-control" name="username" placeholder="Ingresá tu usuario">
            </div>

            <div class="mb-4">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password" placeholder="Ingresá tu contraseña">
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                    Ingresar
                </button>
            </div>

        </form>
        <p th:text="${error}"></p>
        <a href="/registro">Registrarme</a>
    </div>
</div>

</body>
</html>